.app {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
}

.content-box.pills-box .pill {
  margin-bottom: 30px;
}

.section {
  display: flex;
  gap: 0 66px;
  margin-bottom: 66px;
}
.footer .separator {
  margin-bottom: 32px;
}
.link {
  color: var(--black);
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--green);
}

.footer {
  margin-bottom: 32px;
}
